<h3>Posts (<%= @posts.count %>)</h3>
<ol class="current_user_posts">
  <% @posts.each do |post| %>
      <li>
        <%= image_tag("default_profile.png", :size=>"60x60" ) %>

        <div class="post_details">
          <h3><%= post.user.username %></h3>
          <span class="content">
            <%= truncate(post.content, :length => 35, :omission => '...') %>
          </span>
          <span class="timestamp">
              Created <%= time_ago_in_words(post.created_at) %> ago.
          </span>
          <% if current_user == post.user %>
              <%= link_to "delete", post, :method => :delete,
                          :confirm => "You sure?",
                          :title => post.content %>
          <% end %>
        </div>
      </li>
  <% end%>
</ol>

<%= will_paginate @posts %>